server_tokens off;

server {
    listen 80 default_server;
    server_name {{ default_subdomain }}.{{ domain }};

    location / {
        rewrite ^ https://{{ default_subdomain }}.{{ domain }}$request_uri? permanent;
    }
}
